<% layout("/layouts/boilerplate") %>   
<body>
    <h3>All Listings</h3>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <% for (const listing of allListing) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card">
                    <div class="card-img">
                        <img src="<%= listing.image %>" class="card-img-top" alt="listing_image" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b> <br>
                            &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                        </p>
                    </div>
                </div>
            </a>            
        <% } %>
    </div>    
</body>