<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col col-8 offset-2">
            <br><br>
            <h3>Create A New Listing</h3>
            <form method="post" action="/listings" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="Add A Catchy Title" name="listing[title]" class="form-control" required> 
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>
                <div class="mb-3">   
                    <label for="description" class="form-label">Description</label>         
                    <textarea cols="20" rows="3" placeholder="Enter Description" name="listing[description]" class="form-control" required></textarea> 
                    <div class="invalid-feedback">Please enter a short description.</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" placeholder="Enter Image URL/Link" name="listing[image]" class="form-control"> 
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" placeholder="Enter Price" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div> 
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" placeholder="Enter Country" name="listing[country]" class="form-control" required> 
                        <div class="invalid-feedback">Country name should be valid</div> 
                    </div>
                </div>                
                <div class="mb-3">            
                    <label for="location" class="form-label">Location</label>
                    <input type="text" placeholder="Enter Location" name="listing[location]" class="form-control" required> 
                        <div class="invalid-feedback">Location should be valid</div> 
                </div>                                
                <button class="btn btn-dark add-btn mb-3" >Add</button>                
            </form>
        </div>
    </div>
</body>